configuration {
    modi: ["drun", "window", "run", "power-menu:rofi-power-menu"];
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    sidebar-mode: true;
    display-drun: " ";
    display-run: " ";
    display-window: " ";
    display-power-menu: "⏻ ";   // optional nice label

    // vim keybindings
    kb-row-up: "Up,Control+k";
    kb-row-left: "Left,Control+h";
    kb-row-right: "Right,Control+l";
    kb-row-down: "Down,Control+j";
    kb-accept-entry: "Control+z,Control+y,Return,KP_Enter";
    // fixing up
    kb-remove-to-eol: "";
    kb-move-char-back: "Control+b";
    kb-remove-char-back: "BackSpace";
    kb-move-char-forward: "Control+f";
    kb-mode-complete: "Control+o";
    // Keybindings to cycle between modes (drun -> window -> power-menu)
    kb-mode-next: "Shift+Right,Control+Tab";
    kb-mode-previous: "Shift+Left,Control+ISO_Left_Tab";
}
@theme "tokyonight.rasi"
